-
    var socialBtnClass = [
        'fb',
        'tw',
        'g',
        'vk',
        'od'
    ];

    var socialBtnName = [
        'Facebook',
        'Twitter',
        'Google',
        'Vkontakte',
        'Odnoklassniki'
    ];


section#form-sign.form-sign
    .container
        header
            p!= 'Вход в Ваш кабинет'
            i.form-close

        section
            .left
                form(name='', action='')
                    .field-name
                        input(type='text', class='name-input', id='login', placeholder='Логин', required)
                        p(class='help-block help-block-error')!= ''

                    .field-pass
                        input(type='password', class='pass-input', id='pass', placeholder='Пароль', required)
                        p(class='help-block help-block-error')!= ''

                    p.forget!= 'Забыли пароль? Нажмите <a href="#" class="btn-forget">здесь,</a> чтобы восстановить'

                    .block
                        .left
                            button(type='button', class='btn-sign-in') Вход

                        .right
                            .checkbox-custom
                                input(type='checkbox', name='nameInput', class='classInput', id='idInput')
                                label(for='idInput')
                                    i.icon.icon-checkbox
                                    span.text-checkbox!= 'Показать пароль'
                            .checkbox-custom
                                input(type='checkbox', name='nameInput', class='classInput', id='idInput0')
                                label(for='idInput0')
                                    i.icon.icon-checkbox
                                    span.text-checkbox!= 'Запомнить меня'

            .right
                p.main!= 'Вы также можете войти через социальные сети'

                .list-soc
                    - for(var i = 0; i < socialBtnClass.length; i++)
                        button(type='button', class='btn-#{socialBtnClass[i]}')!= socialBtnName[i]

                p.info!= 'Работая в системе ProfiDoc Вы соглашаетесь со всеми условиями и правилами нашей зоны.'

        footer
            p!= 'Не зарегистрированы <a href="#" class="btn-register-now">Зарегистрируйтесь сейчас!</a>'
