-
    var block10 = [
        'Сокращенное название',
        'Полное название'
    ];

    var block11Text = 'По адресу общества будет осуществляться взаимодействие с государственными органами: налоговой инспекцией, ФСС, ПФР и т. д., поэтому рекомендуем иметь доступ к почтовой корреспонденции по указанному адресу. Лучше всего, когда фактический и юридический адреса организации совпадают.';

    var block110 = ['Городской номер телефона'];
    var block111 = ['Факс'];
    var block112 = ['Мобильный номер телефона'];
    var block113 = ['Веб-сайт'];
    var block114 = ['Электронный адрес'];

    var modal1 = ['Введите адрес'];

    var modalSelectTitle1 = ['Выберите область'];
    var modalSelectTitle2 = ['Выберите район области'];
    var modalSelectTitle3 = ['Выберите тип населенного пункта'];
    var modalSelectTitle4 = ['Выберите город'];
    var modalSelectTitle5 = ['Выберите район города'];
    var modalSelectTitle6 = ['Тип улицы'];
    var modalSelectTitle7 = ['Адрес'];
    var modalSelectTitle8 = ['Номер дома'];
    var modalSelectTitle9 = ['Номер корпуса'];
    var modalSelectTitle10 = ['Тип помещения'];
    var modalSelectTitle11 = ['№'];


    var modalSelectOption1 = ['Выберите область'];
    var modalSelectOption2 = ['Выберите район области'];
    var modalSelectOption3 = [
        'Выберите тип',
        'Місто',
        'Селище міського типу',
        'Селище',
        'Село'
    ];
    var modalSelectOption4 = ['Выберите населенный пункт'];
    var modalSelectOption5 = ['Выберите район города'];
    var modalSelectOption6 = [
        'Улица',
        'Проспект',
        'Переулок'
    ];
    var modalSelectOption7 = [
        'Квартира',
        'Офис',
        'Комната',
        'Кабинет'
    ];

    var modal21 = ['Имя'];
    var modal22 = ['Фамилия'];
    var modal23 = ['Телефон'];
    var modal24 = ['Комментарий'];

    var tableTitle = [
        '',
        'Населенный пункт',
        'Населенный пункт',
        'Адрес',
        'Стоимость'
    ];

    var tableTitle1 = [
        'Учредитель',
        'Размер доли в %',
        'Номинальная часть доли',
        'Номинальная часть доли прописью',
        'Способ формирования',
        ''
    ];


mixin inputSection(title, subTitle, arrLength, inputType)
    .field
        if (title != '')
            p.group-title!= title
        - for(var i = 0; i < arrLength; i++)
            label.control-label!= subTitle[i]
            input(type= inputType, name='text', class='text')
            p.help-block.help-block-error


mixin inputSelect(subTitle, selectArr)
    .field
        -for(var i = 0; i < subTitle.length; i++)
            label.control-label!= subTitle[i]
            .select-custom
                .select-value
                    span
                    i
                select
                    -for(var j = 0; j < selectArr.length; j++)
                        option(value= selectArr[j])!= selectArr[j]
            p.help-block.help-block-error



section#create-document.create-document
    .create-document-container
        #admin-panel
            h4!= '<span class="current-steps">1</span> Наименование компании'
            section
                +inputSection('Наименование предприятия на украинском языке', block10, 2, 'text')
                +inputSection('Наименование предприятия на русском языке', block10, 2, 'text')
                +inputSection('Наименование предприятия на английском языке', block10, 2, 'text')



            h4!= '<span class="current-steps">2</span> Адрес предприятия'
            section
                p.group-title!= 'Адрес предприятия'
                p.text!= block11Text
                label.control-label!= 'Выберите адрес'
                br
                a(href='#', class='btn-modal', data-modal='address')!= 'Выбрать адрес'

                br

                label.control-label!= 'Юридический адрес отсутствует, хочу арендовать.'
                br
                a(href='#', class='btn-modal', data-modal='address1')!= 'Выбрать адрес и заказать'

                +inputSection('', block110, 1, 'text')
                +inputSection('', block111, 1, 'text')
                +inputSection('', block112, 1, 'tel')
                +inputSection('', block113, 1, 'text')
                +inputSection('', block114, 1, 'email')



            h4!= '<span class="current-steps">3</span> Основатели предприятия'
            section
                table(cellspacing='0', class='', id='')
                    thead
                        tr
                            - for(var i = 0; i < tableTitle1.length; i++)
                                th!= tableTitle1[i]

                    tbody
                        tr
            h4!= '<span class="current-steps">4</span> Руководитель'
            section
                a(href='#', class='btn-modal', data-modal='modal')!= 'Modal main'
            h4!= '<span class="current-steps">5</span> Виды деятельности'
            section
            h4!= '<span class="current-steps">6</span> Система налогообложения'
            section
            h4!= '<span class="current-steps">7</span> Способ подачи документов'
            section
            h4!= '<span class="current-steps">8</span> Контактная информация'
            section



        .modal-row-address.modal-window.modal-main
            #address.modal-wrap
                .modal
                    .header
                        p.group-title!='Выбор адреса предприятия'

                    .section
                        h5!= 'Поиск'
                        section
                            +inputSection('', modal1, 1, 'text')
                            a(href='#', class='btn btn-search one')!= 'Поиск'
                            a(href='#', class='btn btn-reset two')!= 'Сброс'

                        h5!= 'Выбор адреса'
                        section
                            +inputSelect(modalSelectTitle1, modalSelectOption1)
                            +inputSelect(modalSelectTitle2, modalSelectOption2)
                            +inputSelect(modalSelectTitle3, modalSelectOption3)
                            +inputSelect(modalSelectTitle4, modalSelectOption4)
                            +inputSelect(modalSelectTitle5, modalSelectOption5)

                            .two-row
                                .left
                                    +inputSelect(modalSelectTitle6, modalSelectOption6)
                                .right
                                    +inputSection('', modalSelectTitle7, 1, 'text')
                            .four-row
                                .one
                                    +inputSection('', modalSelectTitle8, 1, 'text')
                                .two
                                    +inputSection('', modalSelectTitle9, 1, 'text')
                                .three
                                    +inputSelect(modalSelectTitle10, modalSelectOption7)
                                .four
                                    +inputSection('', modalSelectTitle11, 1, 'text')

                    .footer
                        a(href='#', class='btn btn-enter one')!= 'Готово'
                        a(href='#', class='btn btn-esc two', data-esc='main')!= 'Отмена'

        .modal-row-address1.modal-window.modal-main
            #address1.modal-wrap
                .modal
                    .header
                        p.group-title!= 'Заказать юридический адрес'

                    .section
                        table(cellspacing='0', class='', id='')
                            thead
                                tr
                                    - for(var i = 0; i < tableTitle.length; i++)
                                        th!= tableTitle[i]

                            tbody
                                tr

                        +inputSection('', modal21, 1, 'text')
                        +inputSection('', modal22, 1, 'text')
                        +inputSection('', modal23, 1, 'tel')

                        label.control-label!= modal24
                        textarea

                    .footer
                        a(href='#', class='btn btn-enter one')!= 'Готово'
                        a(href='#', class='btn btn-esc two', data-esc='main')!= 'Отмена'

        .modal-row-modal.modal-window.modal-main
            #modal.modal-wrap
                .modal
                    .header
                        p.group-title!= 'Main'

                    .section
                        p!= 'Some text...'

                        a(href='#', class='btn btn-internal-modal', data-modal='modal-internal')!= 'Internal-modal'

                    .footer
                        a(href='#', class='btn btn-enter one')!= 'Ok'
                        a(href='#', class='btn btn-esc two', data-esc='main')!= 'Esc'

        .modal-row-modal-internal.modal-window.modal-internal-main
            #modal-internal.modal-wrap
                .modal
                    .header
                        p.group-title!= 'Internal modal'
                    .section
                        p!= 'In process...'
                    .footer
                        a(href='#', class='btn btn-internal-enter one')!= 'Ok'
                        a(href='#', class='btn btn-internal-esc two', data-esc='internal')!= 'Esc'

