-
    var spendMenu = [
        'В системе ProfiDoc',
        'Обменять на подарочные карты',
        'Получить электронные издания'
    ];

    var spendJs = [
        'in-system',
        'exchange',
        'get'
    ];

-
    var imageSrsEx = [
        '../image/content-ex0.png',
        '../image/content-ex1.png',
        '../image/content-ex0.png',
        '../image/content-ex1.png',
        '../image/content-ex0.png',
        '../image/content-ex1.png'
    ];

    var titleSrsEx = [
        'Эльдорадо',
        'СпортМастер',
        'Алло',
        'Эльдорадо',
        'СпортМастер',
        'Алло'
    ];

    var descriptionSrsEx = [
        'Сеть магазинов бытовой техники и электроники, охватывает 200 городов России. Электронный сертификат позволяет оплатить покупки в любом розничном, а также онлайн-магазине сети.',
        'Сеть магазинов спортивных товаров, одежды и обуви, снаряжения для туризма и активного отдыха. Электронный сертификат позволяет оплатить покупки в любом розничном, а также онлайн-магазине.',
        'Сеть магазинов бытовой техники и электроники, охватывает 200 городов России. Электронный сертификат позволяет оплатить покупки в любом розничном, а также онлайн-магазине сети.',
        'Сеть магазинов спортивных товаров, одежды и обуви, снаряжения для туризма и активного отдыха. Электронный сертификат позволяет оплатить покупки в любом розничном, а также онлайн-магазине.',
        'Сеть магазинов бытовой техники и электроники, охватывает 200 городов России. Электронный сертификат позволяет оплатить покупки в любом розничном, а также онлайн-магазине сети.',
        'Сеть магазинов спортивных товаров, одежды и обуви, снаряжения для туризма и активного отдыха. Электронный сертификат позволяет оплатить покупки в любом розничном, а также онлайн-магазине.',
    ];

    var priceSrsEx = [
        '500',
        '300',
        '500',
        '500',
        '300',
        '500'
    ];

    var imageSrsGet = [
        '../image/content-get0.png',
        '../image/content-get0.png',
        '../image/content-get0.png',
        '../image/content-get0.png',
        '../image/content-get0.png',
        '../image/content-get0.png'
    ];

    var titleSrsGet = [
        '«Финансовый директор»',
        '«Учёт.Налоги.Право»',
        '«Генеральный директор»',
        '«Финансовый директор»',
        '«Учёт.Налоги.Право»',
        '«Генеральный директор»'
    ];

    var descriptionSrsGet = [
        'Сеть магазинов бытовой техники и электроники, охватывает 200 городов России. Электронный сертификат позволяет оплатить покупки в любом розничном, а также онлайн-магазине сети.',
        'Сеть магазинов спортивных товаров, одежды и обуви, снаряжения для туризма и активного отдыха. Электронный сертификат позволяет оплатить покупки в любом розничном, а также онлайн-магазине.',
        'Сеть магазинов бытовой техники и электроники, охватывает 200 городов России. Электронный сертификат позволяет оплатить покупки в любом розничном, а также онлайн-магазине сети.',
        'Сеть магазинов спортивных товаров, одежды и обуви, снаряжения для туризма и активного отдыха. Электронный сертификат позволяет оплатить покупки в любом розничном, а также онлайн-магазине.',
        'Сеть магазинов бытовой техники и электроники, охватывает 200 городов России. Электронный сертификат позволяет оплатить покупки в любом розничном, а также онлайн-магазине сети.',
        'Сеть магазинов спортивных товаров, одежды и обуви, снаряжения для туризма и активного отдыха. Электронный сертификат позволяет оплатить покупки в любом розничном, а также онлайн-магазине.',
    ];

    var priceSrsGet = [
        '1 270',
        '1 270',
        '1 270',
        '1 270',
        '1 270',
        '1 270'
    ];


mixin blockBonus(opt, imageArr, titleArr, descriptionArr, priceArr)
    .spend-bonus-block
        - for(var i = 0; i < 6; i++)
            div(class='row-block-#{i}')
                .row-title-block
                    img(src= imageArr[i], class='img-responsive')

                p.title= titleArr[i]
                p.description= descriptionArr[i]

                .row-btn-price
                    if(opt == 0)
                        span!= 'от <span class="price">' + priceArr [i] + '</span> <br/> бонусных гривен'
                    else if (opt == 1)
                        span!= '<span class="price">' + priceArr [i] + '</span> <br/> бонусных гривен <br/> <span class="price-info">Цена: 1 973 грн.</span>'

                    a(href='javascript: void(0);', class='btn-exchange') обменять



section#spend-bonus.spend-bonus
    .spend-bonus-container
        h1 Используйте бонусные гривны

        // menu
        .spend-bonus-row
            ul.spend-menu-list
                - for (var i = 0; i < 3; i++)
                    if(i == 0)
                        li: span(class='spend-btn-menu active', data-js= spendJs[i])= spendMenu[i]
                    else
                        li: span(class='spend-btn-menu', data-js= spendJs[i])= spendMenu[i]


        .spend-bonus-row
            div(class='internal-spend-bonus-row active', data-js='in-system')
                p!= 'Расчитывайтесь бонусными гривнами внутри сервиса при создании документов. <span> 1 бонусная грн. = 1 реальной грн.</span>'

                include ../_template/main/document


            div(class='internal-spend-bonus-row', data-js='exchange')
                p!= 'Обменивайте бонусные гривны на подарочные карты или электронный код покупки в магазине. <br/> <span> 1 бонусная грн. = 1 реальной грн.</span>'

                +blockBonus(0, imageSrsEx, titleSrsEx, descriptionSrsEx, priceSrsEx)


            div(class='internal-spend-bonus-row', data-js='get')
                p!= 'Читайте популярные издания за наш счет. Обменивайте бонусные гривны на подписку.  <span> 1 бонусная грн. = 1 реальной грн.</span>'

                +blockBonus(1, imageSrsGet, titleSrsGet, descriptionSrsGet, priceSrsGet)




// SCRIPTS
script(type='text/javascript').
    $('.spend-menu-list li span').click(function (e) {
        e.preventDefault();

        var dataValueBtn = $(this).attr('data-js');

        $('.spend-menu-list li span').removeClass('active');
        $('.internal-spend-bonus-row').removeClass('active');


        $(this).addClass('active');
        $('.internal-spend-bonus-row').filter('[data-js="' + dataValueBtn + '"]').addClass('active');
    });

