-
    var contentImage = [
        '../image/idea-all-0.png',
        '../image/idea-all-1.png',
        '../image/idea-all-2.png',
        '../image/idea-all-0.png',
        '../image/idea-all-1.png',
        '../image/idea-all-2.png',
        '../image/idea-all-0.png',
        '../image/idea-all-1.png',
        '../image/idea-all-2.png',
        '../image/idea-all-0.png',
        '../image/idea-all-1.png',
        '../image/idea-all-2.png'
    ];

    var contentTitle = [
        'Как зарабатывать на доработке и модернизации автомобилей?',
        'Бизнес с нуля: как открыть творческую мастерскую',
        'Как преуспеть на конкурентном рынке интернет-медицины',
        'Как зарабатывать на доработке и модернизации автомобилей?',
        'Бизнес с нуля: как открыть творческую мастерскую',
        'Как преуспеть на конкурентном рынке интернет-медицины',
        'Как зарабатывать на доработке и модернизации автомобилей?',
        'Бизнес с нуля: как открыть творческую мастерскую',
        'Как преуспеть на конкурентном рынке интернет-медицины',
        'Как зарабатывать на доработке и модернизации автомобилей?',
        'Бизнес с нуля: как открыть творческую мастерскую',
        'Как преуспеть на конкурентном рынке интернет-медицины'
    ];

    var contentCity = [
        'Львов',
        'Одесса',
        'Днепропетровск',
        'Львов',
        'Одесса',
        'Днепропетровск',
        'Львов',
        'Одесса',
        'Днепропетровск',
        'Львов',
        'Одесса',
        'Днепропетровск'
    ];

    var contentPrice = [
        'Стартовый капитал - 90 000 грн.',
        'Стартовый капитал - 60 000 грн.',
        'Стартовый капитал - 75 000 грн.',
        'Стартовый капитал - 80 000 грн.',
        'Стартовый капитал - 50 000 грн.',
        'Стартовый капитал - 55 000 грн.',
        'Стартовый капитал - 85 000 грн.',
        'Стартовый капитал - 80 000 грн.',
        'Стартовый капитал - 65 000 грн.',
        'Стартовый капитал - 85 000 грн.',
        'Стартовый капитал - 80 000 грн.',
        'Стартовый капитал - 65 000 грн.'
    ];

    var contentTag = [
        'Социальный  бизнес',
        'Социальный  бизнес',
        'Социальный  бизнес',
        'Социальный  бизнес',
        'Социальный  бизнес',
        'Социальный  бизнес',
        'Социальный  бизнес',
        'Социальный  бизнес',
        'Социальный  бизнес',
        'Социальный  бизнес',
        'Социальный  бизнес',
        'Социальный  бизнес'
    ];



section#content.content
    .content-container
        .content-row
            - for(var i = 0; i < contentImage.length; i++)
                div(class='block-#{i}')
                    div.video-block
                        img(src= contentImage[i], class='img-responsive')
                        a(href='#', class='btn-play')

                    div.info-block
                        h2!= contentTitle[i]
                        p.city!= contentCity[i]
                        p.price!= contentPrice[i]

                    div.dop-block
                        a(href='#', class='btn-tags')!= contentTag[i]

            a(href='#', class='btn-load-more')!= 'Загрузить ещё'

