
section#personal-content.personal-content
    .personal-content-container
        .personal-content-left
            #form-print.form-print
                header
                    h1!= 'ЗАКАЗАТЬ ПЕЧАТЬ'
                    i.form-close

                section
                    form(action='', method='')
                        .field-name
                            label(for='name')!= 'Имя <span>*</span>'
                            input(type='text', class='name-input', id='name', required)
                            p(class='help-block help-block-error') error

                        .field-surname
                            label(for='surname')!= 'Фамилия <span>*</span>'
                            input(type='text', class='surname-input', id='surname', required)
                            p(class='help-block help-block-error') error

                        .field-phone
                            label(for='phone')!= 'Телефон'
                            input(type='tel', class='phone-input', id='phone', required)
                            p(class='help-block help-block-error') error

                        .field-mail
                            label(for='mail')!= 'E-mail <span>*</span>'
                            input(type='email', class='mail-input', id='mail', required)
                            p(class='help-block help-block-error') error

                        .field-text
                            label(for='text')!= 'Текст сообщения <span>*</span>'
                            textarea(class='text', id='text')
                            p.info!= '* - поле обязательное для заполнения'
                            p(class='help-block help-block-error') error

                        button(type='submit', class='btn-print')!= 'ОТПРАВИТЬ'


            include navigation-left

        #personal-content-right.personal-content-right
            //include ../../_page/personal-area-main
            //include ../../_page/personal-area-document
            //include ../../_page/personal-area-order
            //include ../../_page/personal-area-check
            //include ../../_page/personal-area-bonus
            //include ../../_page/personal-area-payment
            include ../../_page/personal-area-profile

