-
    var tableName = [
        'ООО "Flart"',
        'ООО "ArtNow"',
        'ООО "Sunrise"',
        'ООО "ArtNow"',
        'ООО "Flart"'
    ];

    var tableDate = [
        '12.05.2015',
        '12.05.2016',
        '12.05.2014',
        '12.05.2016',
        '12.05.2016'
    ];

    var tableReady = [
        '100%',
        '100%',
        '100%',
        '100%',
        '100%'
    ];

    var tableRole = [
        '<a href="#" class="btn-main edit"></a><a href="#" class="btn-main delete"></a><a href="#" class="btn-main download"></a>',
        '<a href="#" class="btn-main edit"></a><a href="#" class="btn-main delete"></a><a href="#" class="btn-main download"></a>',
        '<a href="#" class="btn-main edit"></a><a href="#" class="btn-main delete"></a><a href="#" class="btn-main download"></a>',
        '<a href="#" class="btn-main edit"></a><a href="#" class="btn-main delete"></a><a href="#" class="btn-main download"></a>',
        '<a href="#" class="btn-main edit"></a><a href="#" class="btn-main delete"></a><a href="#" class="btn-main download"></a>'
    ];

    var tablePayment = [
        '<span class="yes">Оплачено</span>',
        '<span class="no">Не оплачено</span> </br> <a href="#", class="btn-">Оплатить</a>',
        '<span class="no">Не оплачено</span> </br> <a href="#", class="btn-">Оплатить</a>',
        '<span class="yes">Оплачено</span>',
        '<span class="yes">Оплачено</span>'
    ];

    var tableBonus = [
        'начислено + 100 грн',
        '',
        '',
        'начислено + 100 грн',
        'начислено + 100 грн'
    ];

    var tableTitle = [
        'Название',
        'Дата',
        'Готовность',
        'Действие',
        'Оплата',
        'Ваш бонус'
    ];

mixin tableRowinfo (arr, arrClass)
    td(class= arrClass)!= arr[i]



section#main.main
    .main-row-my1
        p.title!= 'Документы для создания бизнеса'

        table(cellspacing='0')
            thead
                tr
                    - for(var i = 0; i < tableTitle.length; i++)
                        th!= tableTitle[i]
            tbody
                - for(var i = 0; i < 3; i++)
                    tr
                        +tableRowinfo(tableName, 'name')
                        +tableRowinfo(tableDate, 'date')
                        +tableRowinfo(tableReady, 'readiness')
                        +tableRowinfo(tableRole, 'act')
                        +tableRowinfo(tablePayment, 'payment')
                        +tableRowinfo(tableBonus, 'bonus')

        br

        a(href='#', class='btn-all-doc')!= 'Архив Документов для создания бизнеса'

    .main-row-my1
        p.title!= 'Документы для изменений в бизнеса'

        table(cellspacing='0')
            thead
                tr
                    - for(var i = 0; i < tableTitle.length; i++)
                        th!= tableTitle[i]
            tbody
                - for(var i = 0; i < 2; i++)
                    tr
                        +tableRowinfo(tableName, 'name')
                        +tableRowinfo(tableDate, 'date')
                        +tableRowinfo(tableReady, 'readiness')
                        +tableRowinfo(tableRole, 'act')
                        +tableRowinfo(tablePayment, 'payment')
                        +tableRowinfo(tableBonus, 'bonus')

        br

        a(href='#', class='btn-all-doc')!= 'Архив Документов для изменений бизнеса'
    .main-row-my1
        p.title!= 'Мои договора'

        table(cellspacing='0')
            thead
                tr
                    - for(var i = 0; i < tableTitle.length; i++)
                        th!= tableTitle[i]
            tbody
                - for(var i = 0; i < 5; i++)
                    tr
                        +tableRowinfo(tableName, 'name')
                        +tableRowinfo(tableDate, 'date')
                        +tableRowinfo(tableReady, 'readiness')
                        +tableRowinfo(tableRole, 'act')
                        +tableRowinfo(tablePayment, 'payment')
                        +tableRowinfo(tableBonus, 'bonus')

        br

        a(href='#', class='btn-all-doc')!= 'Архив Документов для создания бизнеса'

    .main-row-my1
        p.title!= 'Мои документы'

        table(cellspacing='0')
            thead
                tr
                    - for(var i = 0; i < tableTitle.length; i++)
                        th!= tableTitle[i]
            tbody
                - for(var i = 0; i < 4; i++)
                    tr
                        +tableRowinfo(tableName, 'name')
                        +tableRowinfo(tableDate, 'date')
                        +tableRowinfo(tableReady, 'readiness')
                        +tableRowinfo(tableRole, 'act')
                        +tableRowinfo(tablePayment, 'payment')
                        +tableRowinfo(tableBonus, 'bonus')

        br

        a(href='#', class='btn-all-doc')!= 'Архив Документов'


