-
    var contentFooterData = [
        '2 марта 2016',
        '28 февраля 2016',
        '25 февраля 2016'
    ];

    var contentFooterAccTitle = [
        'Можно ли конвертировать накопленные баллы в реальные деньги?',
        'Не могу привязать свою организацию, что мне делать?',
        'Если у меня более одной организации, могу ли я объединить их балансы в один?',
        '2 месяца назад всё оплатили, а бонусов все еще нет на счете. Что делать?',
        'Можно ли конвертировать накопленные баллы в реальные деньги?',
        'Не могу привязать свою организацию, что мне делать?',
        'Что делать если не приходит подписка на издание после оплаты?'
    ];

    var contentFooterAccContent = 'Пожалуйста, обратитесь в службу поддержки участников программы ProfiDoc. Нужно указать последний счет, таким образом Вы сможете привязать организацию к своему аккаунту.Оператор, уточнив детали, начислит баллы вручную. Спасибо за терпение.';

    var contentFooterRightContent =  [
        'Бесплатный доступ к записи «Как провести и оформить инвентаризацию в бухгалтерском и налоговом учете» для новых участников.',
        'Бесплатный доступ к записи «Как провести и оформить инвентаризацию в бухгалтерском и налоговом учете» для новых участников.',
        'Бесплатный доступ к записи «Как провести и оформить инвентаризацию в бухгалтерском и налоговом учете» для новых участников ProfiDoc.'
    ];

section#content-footer.content-footer
    .content-footer-row
        .content-footer-block
            .content-footer-container
                h1!= 'Начните зарабатывать баллы' + '<span> прямо сейчас!</span>'
                a(href='javascript: void(0);') Стать участником

        .content-footer-block
            .content-footer-container
                .content-footer-left
                    header
                        h2 Часто задаваемые вопросы
                        a(href='javascript: void(0);') задать вопрос

                    section
                        .accordion
                            - for (var i = 0; i < 7; i++)
                                .accordion-section
                                    a(class='accordion-section-title', href='#accordion-#{i}')
                                        span!= contentFooterAccTitle[i]
                                        span
                                    div(id='accordion-#{i}', class='accordion-section-content')
                                        span= contentFooterAccContent

                .content-footer-right
                    header
                        h2 Идеи для бизнеса

                    section
                        ul.list-idea
                            - for(var i = 0; i < 3; i++)
                                li(class='list-idea-#{i}')
                                    p.list-description= contentFooterRightContent[i]
                                    span.list-data= contentFooterData[i]

                        a(href='javascript: void(0);', class='btn-all-idea') Все идеи