-
    var reviewTitle = [
        'Соловьева Ольга Александровна',
        'Соловьева Ольга Александровна',
        'Соловьева Ольга Александровна',
        'Соловьева Ольга Александровна',
        'Соловьева Ольга Александровна'
    ];

    var reviewFrom = [
        'Корпоративный сайт «Адвокатское объединение»',
        'Корпоративный сайт «Адвокатское объединение»',
        'Корпоративный сайт «Адвокатское объединение»',
        'Корпоративный сайт «Адвокатское объединение»',
        'Корпоративный сайт «Адвокатское объединение»'
    ];

    var reviewText = [
        'Выражаем благодарность Вашей фирме за безукоризненное исполнение договора по разработке сайта нашей компании.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.Рекомендуем компанию Дизайн Орбита.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.',
        'Выражаем благодарность Вашей фирме за безукоризненное исполнение договора по разработке сайта нашей компании.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.Рекомендуем компанию Дизайн Орбита.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.',
        'Выражаем благодарность Вашей фирме за безукоризненное исполнение договора по разработке сайта нашей компании.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.Рекомендуем компанию Дизайн Орбита.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.',
        'Выражаем благодарность Вашей фирме за безукоризненное исполнение договора по разработке сайта нашей компании.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.Рекомендуем компанию Дизайн Орбита.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.',
        'Выражаем благодарность Вашей фирме за безукоризненное исполнение договора по разработке сайта нашей компании.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.Рекомендуем компанию Дизайн Орбита.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.'
    ];

    var reviewImg = [
        './image/check-reviews.png',
        './image/check-reviews.png',
        './image/check-reviews.png',
        './image/check-reviews.png',
        './image/check-reviews.png'
    ];

    var reviewDate = [
        '08 марта 2016',
        '08 марта 2016',
        '08 марта 2016',
        '08 марта 2016',
        '08 марта 2016'
    ];


section#content.content
    .content-container
        - for(var i = 0; i < reviewTitle.length; i++)
            .content-row
                if (i % 2 == 0)
                    .left
                        p.name!= reviewTitle[i]
                        p.coorp!= reviewFrom[i]
                        p.text!= reviewText[i]

                    .center
                        img(src= reviewImg[i], class='img-responsive')

                    .right
                        p.date!= reviewDate[i]
                else
                    .left
                        p.date!= reviewDate[i]

                    .center
                        img(src= reviewImg[i], class='img-responsive')

                    .right
                        p.name!= reviewTitle[i]
                        p.coorp!= reviewFrom[i]
                        p.text!= reviewText[i]


        .content-row
            a(href='#', class='btn-load-more-review')!= 'БОЛЬШЕ ОТЗЫВОВ'