section#list.list
	.list-container
		h2!= 'ДОГОВОРЫ'


		.list-row-btn
			a(href='#', class='btn-list-change btn-mode')
				img(src='./image/icon-list.png', class='img-list')

			a(href='#', class='btn-block-change btn-mode')
				img(src='./image/icon-block.png', class='img-block')



		.list-row-content.list-view
			a(href='#', class='btn-list' data-list='title-0' data-desktop='0')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
			div(class='list-content', id='title-0', data-desktop='0')

				a(href='#', class='btn-list' data-list='title-00' data-desktop='00')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				div(class='list-content', id='title-00', data-desktop='00')

					a(href='#', class='btn-list' data-list='title-000' data-desktop='000')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					div(class='list-content', id='title-000', data-desktop='000')
						a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
						a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
						a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'

					a(href='#', class='btn-list' data-list='title-001' data-desktop='000')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					div(class='list-content', id='title-001', data-desktop='000')
						a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
						a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'

					a(href='#', class='btn-list' data-list='title-002' data-desktop='000')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					div(class='list-content', id='title-002', data-desktop='000')
						a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'

					a(href='#', class='btn-list' data-list='title-003' data-desktop='000')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					div(class='list-content', id='title-003', data-desktop='000')
						a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
						a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
						a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
						a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'


					div(data-desktop='0', class='wrap-list main-block-desktop-000')


				a(href='#', class='btn-list' data-list='title-01' data-desktop='00')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				div(class='list-content', id='title-01', data-desktop='00')
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'

				a(href='#', class='btn-list' data-list='title-02' data-desktop='00')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				div(class='list-content', id='title-02', data-desktop='00')
				a(href='#', class='btn-list' data-list='title-03' data-desktop='00')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				div(class='list-content', id='title-03', data-desktop='00')

				div(data-desktop='0', class='wrap-list main-block-desktop-00')

				a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'


			a(href='#', class='btn-list' data-list='title-1' data-desktop='0')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
			div(class='list-content', id='title-1', data-desktop='0')

				a(href='#', class='btn-list', data-list='title-10', data-desktop='01')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				div(class='list-content', id='title-10', data-desktop='01')
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'

				a(href='#', class='btn-list' data-list='title-11', data-desktop='01')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				div(class='list-content', id='title-11', data-desktop='01')

				a(href='#', class='btn-list' data-list='title-12', data-desktop='01')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				div(class='list-content', id='title-12', data-desktop='01')
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
					a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'

				div(data-desktop='0', class='wrap-list main-block-desktop-01')

			a(href='#', class='btn-list' data-list='title-2' data-desktop='0')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
			div(class='list-content', id='title-2', data-desktop='0')
				a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'

			a(href='#', class='btn-list' data-list='title-3' data-desktop='0')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
			div(class='list-content', id='title-3', data-desktop='0')
				a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'


			div(data-desktop='0', class='wrap-list main-block-desktop-0')


			a(href='#', class='btn-list' data-list='title-4' data-desktop='1')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
			div(class='list-content', id='title-4', data-desktop='1')
				a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'

			a(href='#', class='btn-list' data-list='title-5' data-desktop='1')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
			div(class='list-content', id='title-5', data-desktop='1')
				a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'

			a(href='#', class='btn-list' data-list='title-6' data-desktop='1')!= '<i class="icon icon-title"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
			div(class='list-content', id='title-6', data-desktop='1')
				a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'
				a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Lorem ipsum dolor sit amet lorem Lorem ipsum dolor sit amet lorem</span>'


			div(data-desktop='1', class='wrap-list main-block-desktop-1')