-
    var listLink = [
        'Договоры доверительного управления управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления'
    ];

    var listInternalLink = [
        'Договоры доверительного управления доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления'
    ];


section#list.list
    .list-container
        h2!= 'ДОГОВОРЫ'

        .list-row-btn
            a(href='#', class='btn-list-change btn-mode')
                img(src='./image/icon-list.png', class='img-list')

            a(href='#', class='btn-block-change btn-mode')
                img(src='./image/icon-block.png', class='img-block')



        //.list-row-content.list-view
        .list-row-content.list-block
            a(href='#', class='btn-list' data-list='title-0' data-desktop='0')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
            .list-content#title-0

                a(href='#', class='btn-list' data-list='title-00' data-desktop='00')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-00

                    a(href='#', class='btn-list' data-list='title-000' data-desktop='000')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                    .list-content#title-000
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'

                    a(href='#', class='btn-list' data-list='title-001' data-desktop='000')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                    .list-content#title-001
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'

                    a(href='#', class='btn-list' data-list='title-002' data-desktop='000')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                    .list-content#title-002
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'

                    a(href='#', class='btn-list' data-list='title-003' data-desktop='000')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                    .list-content#title-003
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'

                    .main-block-desktop-000

                a(href='#', class='btn-list' data-list='title-01' data-desktop='00')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-01
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'

                a(href='#', class='btn-list' data-list='title-02' data-desktop='00')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-02

                a(href='#', class='btn-list' data-list='title-03' data-desktop='00')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-03

                .main-block-desktop-00

                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'


            a(href='#', class='btn-list' data-list='title-1' data-desktop='0')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
            .list-content#title-1
                a(href='#', class='btn-list' data-list='title-10')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-10
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='btn-list' data-list='title-11')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-11
                a(href='#', class='btn-list' data-list='title-12')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-12
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
            .main-block-mobile-0
            a(href='#', class='btn-list' data-list='title-2' data-desktop='0')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
            .list-content#title-2
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
            a(href='#', class='btn-list' data-list='title-3' data-desktop='0')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
            .list-content#title-3
                a(href='#', class='btn-list' data-list='title-30')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-30
                    a(href='#', class='btn-list' data-list='title-300')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                    .list-content#title-300
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
            .main-block-desktop-0
            a(href='#', class='btn-list' data-list='title-4' data-desktop='1')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
            .list-content#title-4
                a(href='#', class='btn-list' data-list='title-40')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-40
                    a(href='#', class='btn-list' data-list='title-400')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                    .list-content#title-400
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='btn-list' data-list='title-41')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-41
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='btn-list' data-list='title-42')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-42
                a(href='#', class='btn-list' data-list='title-43')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-43
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
            a(href='#', class='btn-list' data-list='title-5' data-desktop='1')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
            .list-content#title-5
                a(href='#', class='btn-list' data-list='title-50')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-50
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='btn-list' data-list='title-51')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-51
                a(href='#', class='btn-list' data-list='title-52')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-52
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                    a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
            .main-block-mobile-1
            a(href='#', class='btn-list' data-list='title-6' data-desktop='1')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
            .list-content#title-6
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
            a(href='#', class='btn-list' data-list='title-7' data-desktop='1')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
            .list-content#title-7
                a(href='#', class='btn-list' data-list='title-70')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                .list-content#title-70
                    a(href='#', class='btn-list' data-list='title-700')!= '<i class="icon icon-title"></i><span class="text">Договоры доверительного управления управления</span>'
                    .list-content#title-700
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                        a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
                a(href='#', class='doc')!= '<i class="icon icon-doc"></i><span class="text">Договоры доверительного управления</span>'
            .main-block-desktop-1